.myHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
}

.myHeader .apperButton {
  width: 200px;
  height: 30px;
  margin: 5px 20px;
  background: #b4790c;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.myHeader .inp {
  outline: none;
  width: 80%;
  height: 30px;
  margin: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #926666;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
}

.headerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.allInfo .avarageInformation {
  margin-left: 40px;
  width: 25%;
}

.allInfo .allSalary {
  width: 25%;
}

.allInfo .firedMeneger {
  width: 25%;
}

.allInfo .firedEmployyer {
  width: 25%;
}

.allInfo .totalMoney {
  margin-left: 120px;
  width: 33%;
}

.allInfo .totalBorovedMoney {
  width: 33%;
}

.allInfo .totalBorovedInactiveUsers {
  width: 33%;
}

.cardBlockMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardBlockMain .blockCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  width: 80%;
  height: 100%;
  background: #FFFFFF;
}

.cardBlockMain .blockCard .card {
  width: 300px;
  min-height: 200px;
  margin: 0 15px 50px 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.cardBlockMain .blockCard .card .cardButton {
  width: 60px;
  height: 30px;
  margin: 5px 20px;
  background: orange;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.cardBlockMain .blockCard .card .cardButtonDelete {
  width: 60px;
  height: 30px;
  margin: 5px 20px;
  background: red;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.cardBlockMain .blockCard .card .allLable {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.cardBlockMain .blockCard .card .infText {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #3f3f3f;
}

.modal {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__modalCard {
  width: 80%;
  height: 500px;
  background: white;
  border-radius: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal__modalCard .applyButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
}

.modal__modalCard .applyButton .editeEmploeerButton {
  width: 200px;
  height: 50px;
  margin: 5px 20px;
  background: #b4790c;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.modal__modalCard .changes {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__modalCard .changes .check {
  margin: 15px 20px;
  width: 15px;
  height: 15px;
}

.modal__modalCard .changes .inputChanges {
  outline: none;
  width: 80%;
  height: 30px;
  margin: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b4790c;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardBank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardBank .blockCardBank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  width: 80%;
  height: 100%;
  background: #FFFFFF;
}

.cardBank .blockCardBank .cardBanks {
  width: 300px;
  min-height: 200px;
  margin: 0 15px 50px 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.cardBank .blockCardBank .cardBanks .cardButtonBank {
  width: 60px;
  height: 30px;
  margin: 5px 20px;
  background: orange;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.cardBank .blockCardBank .cardBanks .deleteUserButton {
  width: 60px;
  height: 30px;
  margin: 5px 20px;
  background: red;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.cardBank .blockCardBank .cardBanks .allLable {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.cardBank .blockCardBank .cardBanks .infText {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #3f3f3f;
}

.modalBank {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalBank__modalCardBank {
  width: 80%;
  height: 500px;
  background: white;
  border-radius: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modalBank__modalCardBank .applyButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
}

.modalBank__modalCardBank .applyButton .editeEmploeerButton {
  width: 200px;
  height: 50px;
  margin: 5px 20px;
  background: #b4790c;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 0;
}

.modalBank__modalCardBank .changes {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalBank__modalCardBank .changes .check {
  margin: 15px 20px;
  width: 15px;
  height: 15px;
}

.modalBank__modalCardBank .changes .inputChanges {
  outline: none;
  width: 80%;
  height: 30px;
  margin: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b4790c;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
}

.modalBank.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */